@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "cursive";
	src: url("./fonts/MeowScript-Regular.ttf");
}

.fade-out-bottom {
	mask-image: linear-gradient(
		to bottom,
		hsl(var(--secondary)) 50%,
		transparent 100%
	);
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--background: 178 63% 95%;
		--foreground: 178 5% 3%;
		--card: 178 50% 90%;
		--card-foreground: 178 5% 10%;
		--popover: 178 63% 95%;
		--popover-foreground: 178 95% 3%;
		--primary: 178 59% 45%;
		--primary-foreground: 0 0% 100%;
		--secondary: 178 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 140 30% 85%;
		--muted-foreground: 178 5% 35%;
		--accent: 140 30% 80%;
		--accent-foreground: 178 5% 10%;
		--destructive: 0 63% 30%;
		--destructive-foreground: 178 5% 90%;
		--border: 178 30% 50%;
		--input: 178 30% 18%;
		--ring: 178 59% 45%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 178 50% 5%;
		--foreground: 178 5% 90%;
		--card: 178 50% 3%;
		--card-foreground: 178 5% 90%;
		--popover: 178 50% 5%;
		--popover-foreground: 178 5% 90%;
		--primary: 178 59% 45%;
		--primary-foreground: 0 0% 100%;
		--secondary: 178 30% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 140 30% 15%;
		--muted-foreground: 178 5% 60%;
		--accent: 140 30% 15%;
		--accent-foreground: 178 5% 90%;
		--destructive: 0 63% 30%;
		--destructive-foreground: 178 5% 90%;
		--border: 178 30% 18%;
		--input: 178 30% 18%;
		--ring: 178 59% 45%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
